@using Projeto_CarFel_CkeckPoint_Web.Models;
@using Projeto_CarFel_CheckPoint_Web.Models;
@{
    @if (ViewBag.UserLog == 1)
    {
        ViewBag.Title = "Central de Depoimentos";
    }
    else
    {
        ViewBag.Title = "Depoimentos";
    }
    Layout = "MasterPageDeslogado";
}

<div class="titulo flex-container">
    <div class="titulo-item">
        @if (ViewBag.UserLog == 1)
        {
            <h2>Central de Depoimentos</h2>
        }
        else
        {
            <h2>Depoimentos</h2>
        }
        
    </div>
</div>

<main>
    @if (ViewBag.UserLog == 1)
    { 
        <section class="depoimentos depoimentos-pag espacamento">
            <h2>Avaliar Depoimentos</h2>
                @TempData["AvaliacaoSucesso"]
            <div class="Usuarios-dep">
                @{
                    List<DepoimentoModel> lista = ViewData["Depoimentos"] as List<DepoimentoModel>;
                }
                @for (int i =  lista.Count-1 ; i > 0; i--)
                {
                    if (lista[i].Situacao == "Pendente")
                    {
                        <div class="user-dep">
                            <div class="flex-container">
                                <div class="dep-img">
                                    <img src="/imagem/user.png" alt="icone de usuario">		
                                </div>
                                <div class="dep-container">          
                                    <div class="dep-header flex-container">
                                        <div class="dh-text">
                                            <p><b>@lista[i].Usuario.Nome</b></p>
                                            <p>@lista[i].DataCriacao</p>
                                        </div>
                                    </div>
                                    <div class="dep-main">
                                        <p>@lista[i].Texto</p>
                                    </div>
                                    <div class="dep-footer flex-container">
                                        <div class="df-aprovado">
                                            <button style="margin-right: 0.5em"><a href="/Depoimento/Aprovar?id=@lista[i].Id">Aprovado</a></button>
                                        </div>
                                        <div class="df-reprovado">
                                            <button><a href="/Depoimento/Reprovar?id=@lista[i].Id">Reprovado</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dep-barra"></div>
                        </div>
                    }
                }
            </div>
        </section>

        <section class="depoimentos depoimentos-pag espacamento">
            <h2>Depoimentos Aprovados</h2>
                @TempData["AvaliacaoSucesso"]
            <div class="Usuarios-dep">
                @for (int i =  lista.Count-1 ; i > 0; i--)
                {
                    if (lista[i].Situacao == "Aprovado")
                    {
                        <div class="user-dep">
                            <div class="flex-container">
                                <div class="dep-img">
                                    <img src="/imagem/user.png" alt="icone de usuario">		
                                </div>
                                <div class="dep-container">          
                                    <div class="dep-header flex-container">
                                        <div class="dh-text">
                                            <p><b>@lista[i].Usuario.Nome</b></p>
                                            <p>@lista[i].DataCriacao</p>
                                        </div>
                                    </div>
                                    <div class="dep-main">
                                        <p>@lista[i].Texto</p>
                                    </div>
                                    <div class="dep-footer flex-container">
                                        <div class="df-reprovado">
                                            <button><a href="/Depoimento/Reprovar?id=@lista[i].Id">Excluir</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dep-barra"></div>
                        </div>
                    }
                }  
            </div>
            <div class="dep-buttons flex-container">
                    <button><a href="/Pagina/Home">Voltar</a></button>
                </div>
        </section>

    }

    else
    {
        <section class="depoimentos depoimentos-pag">
            <h2>Depoimentos</h2>

            @if (ViewBag.UserLog > 0)
            {
                <div class="user-dep-escrever">
                    @TempData["valDepCadastrar"]
                    <div class="mensegeInvalid">
                        @TempData["MensengeValT"]
                    </div> 
                    <div class="flex-container">
                        <div class="dep-img flex-container" style="justify-content: flex-end;">
                            <img src="/imagem/user.png" alt="icone de usuario" style="height: 3em;">		
                        </div>
                        <div class="dep-container-escrever">
                            <div class="dep-header flex-container">
                                <div class="dh-text">
                                    <p><b>@ViewBag.UsuarioLogN</b></p>
                                </div>
                            </div>
                            <form method="post" action="/Depoimento/Cadastrar">
                                <textarea name="texto" placeholder="Deixe seu depoimento:" class="contato-item-form-input dep-textarea"></textarea>
                                <input type="submit" value="Enviar" class="button-sub">
                            </form>
                        </div>
                    </div>	
                </div>
            }

            <div class="Usuarios-dep">
                @{
                    List<DepoimentoModel> lista = ViewData["Depoimentos"] as List<DepoimentoModel>;
                }
                @for (int i =  lista.Count-1 ; i > 0; i--)
                {
                    if (lista[i].Situacao == "Aprovado")
                    {
                        <div class="user-dep">
                            <div class="flex-container">
                                <div class="dep-img">
                                    <img src="/imagem/user.png" alt="icone de usuario">		
                                </div>
                                <div class="dep-container">          
                                    <div class="dep-header flex-container">
                                        <div class="dh-text">
                                            <p><b> @lista[i].Usuario.Nome</b></p>
                                            <p>@lista[i].DataCriacao</p>
                                        </div>
                                    </div>
                                    <div class="dep-main">
                                        <p>@lista[i].Texto</p>
                                    </div>
                                    <div class="dep-footer flex-container">
                                    </div>
                                </div>
                            </div>
                            <div class="dep-barra"></div>
                        </div>
                    }
                }  
            </div>

            <div class="dep-buttons flex-container">
              <button><a href="/Pagina/Home">Voltar</a></button>
            </div>	
        </section>
    }
</main>
